body {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #d3d3d3;
    padding: 10px;
}

.big-text {
    color: navy;
    font-size: 28pt;
    font-weight: bold;
}

#main-content {
    border: 3px solid #efefef;
}

.highlight {
    background-color: yellow;
}

