body {
    font-family: fantasy;
    margin:0px auto;
    text-align:center;
    background-color: black;
    color: white;
}

#link {
  z-index: 1000;
  position: absolute;
  top: 100px;
  left:0;
}

#zelda {
  z-index: 1000;
  position: absolute;
  top: 400px;
  left: 1100;
}